@import "tailwindcss";

@layer components { 

    .mycontainer { 

        max-width: 60rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 4rem;
        padding-bottom: 4rem;

    }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  height: 20px;
  width: 65px;
  border: none;
  background: #a549da3d;
  border-radius: 20px;
  cursor: pointer;
}
.lable {
  line-height: 16px;
  font-size: 13px;
  color: #A649DA;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.button:hover {
  background: #a549da62;
}
.button:hover .svg-icon {
  animation: lr 1s linear infinite;
}
@keyframes lr {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  75% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}